<div class="signup-page">
  <div class="signup-container">
    <h1>Sign Up</h1>
    <p class="subtitle">Sign up for a chance to WIN a signed post card from Tori V!.</p>
    
    <form id="vip-signup-form" class="signup-form">
      <div class="form-row">
        <div class="form-group">
          <label for="first-name">First name</label>
          <input type="text" id="first-name" name="first_name" required>
        </div>
        <div class="form-group">
          <label for="last-name">Last name</label>
          <input type="text" id="last-name" name="last_name" required>
        </div>
      </div>
      
      <label for="email">Email address</label>
      <input type="email" id="email" name="email" required>
      
      <label for="tiktok">TikTok Username</label>
      <input type="text" id="tiktok" name="tiktok">
      
      <label for="phone">Phone number</label>
      <div class="phone-wrapper">
        <select id="country-code" name="country_code">
          <option value="+1">US +1</option>
          <option value="+93">AF +93</option>
          <option value="+355">AL +355</option>
          <option value="+213">DZ +213</option>
          <option value="+376">AD +376</option>
          <option value="+244">AO +244</option>
          <option value="+1-268">AG +1-268</option>
          <option value="+54">AR +54</option>
          <option value="+374">AM +374</option>
          <option value="+61">AU +61</option>
          <option value="+43">AT +43</option>
          <option value="+994">AZ +994</option>
          <option value="+1-242">BS +1-242</option>
          <option value="+973">BH +973</option>
          <option value="+880">BD +880</option>
          <option value="+1-246">BB +1-246</option>
          <option value="+375">BY +375</option>
          <option value="+32">BE +32</option>
          <option value="+501">BZ +501</option>
          <option value="+229">BJ +229</option>
          <option value="+975">BT +975</option>
          <option value="+591">BO +591</option>
          <option value="+387">BA +387</option>
          <option value="+267">BW +267</option>
          <option value="+55">BR +55</option>
          <option value="+673">BN +673</option>
          <option value="+359">BG +359</option>
          <option value="+226">BF +226</option>
          <option value="+257">BI +257</option>
          <option value="+855">KH +855</option>
          <option value="+237">CM +237</option>
          <option value="+1">CA +1</option>
          <option value="+238">CV +238</option>
          <option value="+236">CF +236</option>
          <option value="+235">TD +235</option>
          <option value="+56">CL +56</option>
          <option value="+86">CN +86</option>
          <option value="+57">CO +57</option>
          <option value="+269">KM +269</option>
          <option value="+242">CG +242</option>
          <option value="+243">CD +243</option>
          <option value="+506">CR +506</option>
          <option value="+385">HR +385</option>
          <option value="+53">CU +53</option>
          <option value="+357">CY +357</option>
          <option value="+420">CZ +420</option>
          <option value="+45">DK +45</option>
          <option value="+253">DJ +253</option>
          <option value="+1-767">DM +1-767</option>
          <option value="+1-809">DO +1-809</option>
          <option value="+670">TL +670</option>
          <option value="+593">EC +593</option>
          <option value="+20">EG +20</option>
          <option value="+503">SV +503</option>
          <option value="+240">GQ +240</option>
          <option value="+291">ER +291</option>
          <option value="+372">EE +372</option>
          <option value="+268">SZ +268</option>
          <option value="+251">ET +251</option>
          <option value="+679">FJ +679</option>
          <option value="+358">FI +358</option>
          <option value="+33">FR +33</option>
          <option value="+241">GA +241</option>
          <option value="+220">GM +220</option>
          <option value="+995">GE +995</option>
          <option value="+49">DE +49</option>
          <option value="+233">GH +233</option>
          <option value="+30">GR +30</option>
          <option value="+1-473">GD +1-473</option>
          <option value="+502">GT +502</option>
          <option value="+224">GN +224</option>
          <option value="+245">GW +245</option>
          <option value="+592">GY +592</option>
          <option value="+509">HT +509</option>
          <option value="+504">HN +504</option>
          <option value="+36">HU +36</option>
          <option value="+354">IS +354</option>
          <option value="+91">IN +91</option>
          <option value="+62">ID +62</option>
          <option value="+98">IR +98</option>
          <option value="+964">IQ +964</option>
          <option value="+353">IE +353</option>
          <option value="+972">IL +972</option>
          <option value="+39">IT +39</option>
          <option value="+225">CI +225</option>
          <option value="+1-876">JM +1-876</option>
          <option value="+81">JP +81</option>
          <option value="+962">JO +962</option>
          <option value="+7">KZ +7</option>
          <option value="+254">KE +254</option>
          <option value="+686">KI +686</option>
          <option value="+965">KW +965</option>
          <option value="+996">KG +996</option>
          <option value="+856">LA +856</option>
          <option value="+371">LV +371</option>
          <option value="+961">LB +961</option>
          <option value="+266">LS +266</option>
          <option value="+231">LR +231</option>
          <option value="+218">LY +218</option>
          <option value="+423">LI +423</option>
          <option value="+370">LT +370</option>
          <option value="+352">LU +352</option>
          <option value="+261">MG +261</option>
          <option value="+265">MW +265</option>
          <option value="+60">MY +60</option>
          <option value="+960">MV +960</option>
          <option value="+223">ML +223</option>
          <option value="+356">MT +356</option>
          <option value="+692">MH +692</option>
          <option value="+222">MR +222</option>
          <option value="+230">MU +230</option>
          <option value="+52">MX +52</option>
          <option value="+691">FM +691</option>
          <option value="+373">MD +373</option>
          <option value="+377">MC +377</option>
          <option value="+976">MN +976</option>
          <option value="+382">ME +382</option>
          <option value="+212">MA +212</option>
          <option value="+258">MZ +258</option>
          <option value="+95">MM +95</option>
          <option value="+264">NA +264</option>
          <option value="+674">NR +674</option>
          <option value="+977">NP +977</option>
          <option value="+31">NL +31</option>
          <option value="+64">NZ +64</option>
          <option value="+505">NI +505</option>
          <option value="+227">NE +227</option>
          <option value="+234">NG +234</option>
          <option value="+850">KP +850</option>
          <option value="+389">MK +389</option>
          <option value="+47">NO +47</option>
          <option value="+968">OM +968</option>
          <option value="+92">PK +92</option>
          <option value="+680">PW +680</option>
          <option value="+970">PS +970</option>
          <option value="+507">PA +507</option>
          <option value="+675">PG +675</option>
          <option value="+595">PY +595</option>
          <option value="+51">PE +51</option>
          <option value="+63">PH +63</option>
          <option value="+48">PL +48</option>
          <option value="+351">PT +351</option>
          <option value="+974">QA +974</option>
          <option value="+40">RO +40</option>
          <option value="+7">RU +7</option>
          <option value="+250">RW +250</option>
          <option value="+1-869">KN +1-869</option>
          <option value="+1-758">LC +1-758</option>
          <option value="+1-784">VC +1-784</option>
          <option value="+685">WS +685</option>
          <option value="+378">SM +378</option>
          <option value="+239">ST +239</option>
          <option value="+966">SA +966</option>
          <option value="+221">SN +221</option>
          <option value="+381">RS +381</option>
          <option value="+248">SC +248</option>
          <option value="+232">SL +232</option>
          <option value="+65">SG +65</option>
          <option value="+421">SK +421</option>
          <option value="+386">SI +386</option>
          <option value="+677">SB +677</option>
          <option value="+252">SO +252</option>
          <option value="+27">ZA +27</option>
          <option value="+82">KR +82</option>
          <option value="+211">SS +211</option>
          <option value="+34">ES +34</option>
          <option value="+94">LK +94</option>
          <option value="+249">SD +249</option>
          <option value="+597">SR +597</option>
          <option value="+46">SE +46</option>
          <option value="+41">CH +41</option>
          <option value="+963">SY +963</option>
          <option value="+886">TW +886</option>
          <option value="+992">TJ +992</option>
          <option value="+255">TZ +255</option>
          <option value="+66">TH +66</option>
          <option value="+228">TG +228</option>
          <option value="+676">TO +676</option>
          <option value="+1-868">TT +1-868</option>
          <option value="+216">TN +216</option>
          <option value="+90">TR +90</option>
          <option value="+993">TM +993</option>
          <option value="+688">TV +688</option>
          <option value="+256">UG +256</option>
          <option value="+380">UA +380</option>
          <option value="+971">AE +971</option>
          <option value="+44">GB +44</option>
          <option value="+598">UY +598</option>
          <option value="+998">UZ +998</option>
          <option value="+678">VU +678</option>
          <option value="+379">VA +379</option>
          <option value="+58">VE +58</option>
          <option value="+84">VN +84</option>
          <option value="+967">YE +967</option>
          <option value="+260">ZM +260</option>
          <option value="+263">ZW +263</option>
        </select>
        <input type="tel" id="phone" name="phone">
      </div>
      
      <label for="street-address">Street Address</label>
      <input type="text" id="street-address" name="street_address" autocomplete="off">
      
      <label for="apartment">Apartment, suite, etc.</label>
      <input type="text" id="apartment" name="apartment">
      
      <div class="form-row">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" name="city">
        </div>
        <div class="form-group">
          <label for="state">State/Province</label>
          <input type="text" id="state" name="state">
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group">
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="">Select an option...</option>
            <option value="United States">United States</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Brazil">Brazil</option>
            <option value="Brunei">Brunei</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Cape Verde">Cape Verde</option>
            <option value="Central African Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo (Brazzaville)">Congo (Brazzaville)</option>
            <option value="Congo (Kinshasa)">Congo (Kinshasa)</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Croatia">Croatia</option>
            <option value="Cuba">Cuba</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="East Timor">East Timor</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Eswatini">Eswatini</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Greece">Greece</option>
            <option value="Grenada">Grenada</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-Bissau">Guinea-Bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Honduras">Honduras</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Ivory Coast">Ivory Coast</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Laos">Laos</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libya">Libya</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
            <option value="Malta">Malta</option>
            <option value="Marshall Islands">Marshall Islands</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mexico">Mexico</option>
            <option value="Micronesia">Micronesia</option>
            <option value="Moldova">Moldova</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Namibia">Namibia</option>
            <option value="Nauru">Nauru</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="North Korea">North Korea</option>
            <option value="North Macedonia">North Macedonia</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Palau">Palau</option>
            <option value="Palestine">Palestine</option>
            <option value="Panama">Panama</option>
            <option value="Papua New Guinea">Papua New Guinea</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Qatar">Qatar</option>
            <option value="Romania">Romania</option>
            <option value="Russia">Russia</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
            <option value="Samoa">Samoa</option>
            <option value="San Marino">San Marino</option>
            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Singapore">Singapore</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Solomon Islands">Solomon Islands</option>
            <option value="Somalia">Somalia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Korea">South Korea</option>
            <option value="South Sudan">South Sudan</option>
            <option value="Spain">Spain</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="Sudan">Sudan</option>
            <option value="Suriname">Suriname</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syria">Syria</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania">Tanzania</option>
            <option value="Thailand">Thailand</option>
            <option value="Togo">Togo</option>
            <option value="Tonga">Tonga</option>
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates">United Arab Emirates</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Vanuatu">Vanuatu</option>
            <option value="Vatican City">Vatican City</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Yemen">Yemen</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
          </select>
        </div>
        <div class="form-group">
          <label for="zip">Zip/Postal code</label>
          <input type="text" id="zip" name="zip">
        </div>
      </div>
      
      <div class="checkbox-wrapper">
        <input type="checkbox" id="newsletter" name="newsletter" checked>
        <label for="newsletter">Subscribe to our newsletter</label>
      </div>
      
      <button type="submit">Sign Up</button>
    </form>
    
    <p class="success-message" id="success-msg">Thanks for signing up! You're on the VIP list.</p>
    <p class="error-message" id="error-msg">Something went wrong. Please try again.</p>
  </div>
</div>

<style>
  .signup-page {
    background: #fff;
    min-height: 100vh;
  }
  
  .signup-container {
    max-width: 780px;
    margin: 0 auto;
    padding: 60px 20px;
  }
  
  .signup-container h1 {
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 400;
    color: #ff69b4;
    margin-bottom: 20px;
  }
  
  .signup-container .subtitle {
    color: #d87093;
    font-size: 1rem;
    margin-bottom: 50px;
  }
  
  .signup-form {
    max-width: 520px;
    margin: 0 auto;
  }
  
  .signup-form label {
    display: block;
    color: #ff69b4;
    font-size: 0.95rem;
    margin-bottom: 8px;
    font-weight: 400;
  }
  
  .signup-form input,
  .signup-form select {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    background: #fafafa;
    color: #333;
  }
  
  .signup-form input:focus,
  .signup-form select:focus {
    outline: none;
    border-color: #ff69b4;
    background: #fff;
  }
  
  .signup-form select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ff69b4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    cursor: pointer;
  }
  
  .form-row {
    display: flex;
    gap: 20px;
  }
  
  .form-row .form-group {
    flex: 1;
  }
  
  .form-group {
    margin-bottom: 0;
  }
  
  .phone-wrapper {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 24px;
    background: #fafafa;
  }
  
  .phone-wrapper input {
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    flex: 1;
  }
  
  .phone-wrapper select {
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    width: auto;
    min-width: 90px;
    padding-right: 36px;
    background-color: transparent;
    border-right: 1px solid #e0e0e0;
  }
  
  .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
  }
  
  .checkbox-wrapper input[type="checkbox"] {
    width: auto;
    margin: 0;
    accent-color: #ff69b4;
  }
  
  .checkbox-wrapper label {
    margin: 0;
    color: #d87093;
    font-size: 0.95rem;
  }
  
  .signup-form button {
    width: 100%;
    padding: 16px;
    background: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 500;
  }
  
  .signup-form button:hover {
    background: #ff85c1;
  }
  
  .success-message {
    display: none;
    color: #ff69b4;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
  }
  
  .error-message {
    display: none;
    color: #e74c3c;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
  }
  
  /* Google autocomplete dropdown styling */
  .pac-container {
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: inherit;
    margin-top: 4px;
  }
  
  .pac-item {
    padding: 12px 16px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .pac-item:hover {
    background: #fff0f5;
  }
  
  .pac-item-selected {
    background: #fff0f5;
  }
  
  .pac-icon {
    display: none;
  }
  
  .pac-item-query {
    font-size: 14px;
  }
  
  @media (max-width: 600px) {
    .form-row {
      flex-direction: column;
      gap: 0;
    }
    
    .signup-container h1 {
      font-size: 2rem;
    }
  }
</style>

<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]);for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyAY7slhlBT_mVO0U-Oo3Qvd2BXwtbF-LoI",
    v: "weekly"
  });
</script>

<script>
  // Your Cloudflare Worker URL
  const WORKER_URL = 'https://mailerlite-signup.torivstudios.workers.dev/';
  
  async function initAutocomplete() {
    await google.maps.importLibrary("places");
    
    const streetInput = document.getElementById('street-address');
    
    const autocomplete = new google.maps.places.Autocomplete(streetInput, {
      types: ['address']
    });
    
    // Remove Google's default "Enter a location" placeholder
    streetInput.setAttribute('placeholder', '');
    
    autocomplete.addListener('place_changed', function() {
      const place = autocomplete.getPlace();
      
      if (place.address_components) {
        let streetNumber = '';
        let route = '';
        
        place.address_components.forEach(function(component) {
          const type = component.types[0];
          
          if (type === 'street_number') streetNumber = component.long_name;
          if (type === 'route') route = component.long_name;
          if (type === 'locality') document.getElementById('city').value = component.long_name;
          if (type === 'administrative_area_level_1') document.getElementById('state').value = component.short_name;
          if (type === 'postal_code') document.getElementById('zip').value = component.long_name;
          if (type === 'country') {
            const countrySelect = document.getElementById('country');
            const countryName = component.long_name;
            for (let i = 0; i < countrySelect.options.length; i++) {
              if (countrySelect.options[i].value === countryName) {
                countrySelect.selectedIndex = i;
                break;
              }
            }
          }
        });
        
        streetInput.value = (streetNumber + ' ' + route).trim();
      }
    });
    
    // Form submission via Cloudflare Worker
    document.getElementById('vip-signup-form').addEventListener('submit', async function(e) {
      e.preventDefault();
      
      const submitButton = this.querySelector('button[type="submit"]');
      submitButton.disabled = true;
      submitButton.textContent = 'Signing up...';
      
      // Hide any previous error messages
      document.getElementById('error-msg').style.display = 'none';
      
      const formData = {
        email: document.getElementById('email').value,
        first_name: document.getElementById('first-name').value,
        last_name: document.getElementById('last-name').value,
        tiktok: document.getElementById('tiktok').value,
        phone: document.getElementById('country-code').value + ' ' + document.getElementById('phone').value,
        address: document.getElementById('street-address').value,
        apartment: document.getElementById('apartment').value,
        city: document.getElementById('city').value,
        state: document.getElementById('state').value,
        country: document.getElementById('country').value,
        zip: document.getElementById('zip').value
      };
      
      try {
        const response = await fetch(WORKER_URL, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formData)
        });
        
        const result = await response.json();
        
        if (result.success) {
          document.getElementById('vip-signup-form').style.display = 'none';
          document.getElementById('success-msg').style.display = 'block';
        } else {
          throw new Error('Signup failed');
        }
      } catch (error) {
        console.error('Error:', error);
        document.getElementById('error-msg').style.display = 'block';
        submitButton.disabled = false;
        submitButton.textContent = 'Sign Up';
      }
    });
  }
  
  initAutocomplete();
</script>

{% schema %}
{
  "name": "Signup Form",
  "settings": [],
  "presets": [
    {
      "name": "Signup Form"
    }
  ]
}
{% endschema %}